# Database Connection URIs
# Format: mongodb+srv://<username>:<password>@<cluster>/<database_name>
MONGO_URI_PROD=mongodb+srv://vlogAdmin:PASSWORD@cluster0.unelxzf.mongodb.net/vlogVerse_prod
MONGO_URI_DEV=mongodb+srv://vlogAdmin:PASSWORD@cluster0.unelxzf.mongodb.net/vlogVerse_dev

# Environment (development | production)
NODE_ENV=development

# JWT Secrets
ACCESS_TOKEN_SECRET=your_super_secret_access_token
REFRESH_TOKEN_SECRET=your_super_secret_refresh_token

# Port
PORT=5000
